body {
  font-family: "noto-sans", sans-serif;
  background-color: #071715;
}

html {
  scroll-behavior: smooth;
}

p,a {
  font-size: 20px;
  font-weight: 400;
}

h3,h4,h5,li,p,label {
  color: #DEF1E5; /*all conventional thinking*/
  font-family: "noto-sans", sans-serif;
}

h1 {
  font-size: 80px;
  color: #EFFEC7; /*like pure FP*/
  font-family: "noto-sans", sans-serif;
}

h2 {
  font-size: 35px;
  color: #EFFEC7; /*like pure FP*/
  font-family: "noto-sans", sans-serif;
}

a {
  font-family: "noto-sans", sans-serif;
  color: #88e2a9;
  text-decoration:none;
}

a:hover {
  color: #B00B1E; /*lol*/
}

footer {
  margin-top: 150px;
  margin-left: 20%;
}

ul {
  list-style: none;
}

.skip-nav-link {
  position:absolute;
  transform: translateY(-320%);
  padding:.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  border:solid #DEF1E5 2px;
  background:#202020;
  left:.5rem;
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(-200%);
  color: #DEF1E5;
}

.container {
  margin-top: 10vh;
  margin-left: 20%;
  margin-right: 20%;
}

.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #071715; 
  padding: 10px; 
  border: 1px solid #071715; 
  border-radius: 2px;
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: 242424;
  right: 0;
  bottom: auto;
  padding: 15px;
  border: 1px solid #071715; 
}

.navbar{
  width: auto;
  display:flex;
  justify-content: center;
}

.navlink{
  margin-right: 30px;
  padding: 7px 10px 7px 10px;

}

.navlink:hover {
  box-shadow: 1px 1px 1px 1px #919191;

}

[type=radio]:checked ~ label {
  background: #071715;
  border-bottom: 1px solid #071715;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

label:hover {
  color: #B00B1E;
  cursor: pointer;
}

i {
  color: #DEF1E5;
}
i:hover {
  color: #B00B1E;
}
/* icons social media */

.social {
  position: relative;
  top: -90%;
  margin-bottom:100px;
}

