body {
  font-family: "Noto Sans", sans-serif;
}

p,
a {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container {
  margin-top: 20vh;
  margin-left: 30%;
}

footer {
  margin-top: 40vh;
  margin-left: 30%;
}

ul {
  list-style: none;
}

.projects {
  color: #353535;
  text-decoration: none;
}

.projects :hover {
  color: #0070f3;
}
